spring:
  #profiles:
  #  active: dev
  application:
    name: neuralfit
  jpa:
    show-sql: true
    properties:
      hibernate:
        highlight_sql: true
        use_sql_comments: true
        format_sql: true
  jackson:
    time-zone: Asia/Seoul
    deserialization:
      fail-on-unknown-properties: true
server:
  port: 8080

logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.springframework.core.env: DEBUG